body * {
  font-family: "Open Sans", sans-serif;
}
body {
  background-color: black;
}
.cards {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 230px;
}
.logo_nav {
  width: 30px;
  height: 30px;
}

/*Breakpoint*/
@media (max-width: 600px) {
  .quienes_somos {
    display: none;
  }
  .bg-card {
    background-color: #19c6e5;
  }

  .titulo {
    color: white;
    text-align: center;
  }
  .clas-footer {
    background-color: #19c6e5;
    color: white;
  }
  .clas-footer {
    background-color: #19c6e5;
    color: white;
    display: flex;
    align-content: center;
    
  }

  .clas-footer a {
    color: #ffffff;
    text-decoration: none;
  }
  .li {
    vertical-align: middle;
    list-style: none;
  }
  .class-ul-footer{
    margin-left: auto;
    display: flex;

  }
}

/*Breakpoint*/
@media (min-width: 992px) {
  .titulo {
    color: white;
    text-align: center;
  }

  .barra_titulo {
    color: #19c6e5;
    min-height: 2px;
  }
  .color-nav {
    background-color: transparent;
  }
  .text_loren {
    color: white;
  }
  .bg-card {
    background-color: #19c6e5;
  }
  .img-card {
    width: 230 px;
    height: 180 px;
    object-fit: fill;
  }
  .cards {
    margin-left: 10px;
    margin-right: 10px;
    max-width: 230px;
  }
  .clas-footer {
    background-color: #19c6e5;
    color: white;
    display: flex;
    align-content: center;
    
  }

  .clas-footer a {
    color: #ffffff;
    text-decoration: none;
  }
  .li {
    vertical-align: middle;
    list-style: none;
  }
  .class-ul-footer{
    margin-left: auto;
    display: flex;

  }
}
